.xuy::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
    width: 19px;
    height: 19px;
    background: url('./../../shared/assets/icons/search.svg') no-repeat;
    background-size: contain;
    transition: all .4s;
}
.xuy {
    position: relative;
}
.xuy:hover::after {
    transform: rotate(360deg);
}